<h1>Listing todo_items</h1>

<form id="new-todo-form">
	<input id="new-todo-content" name="new-todo-content" type="text" data-bind="value: newTodo" />
	<input type="submit" value="Add" data-bind="enable: newTodo().length > 0" />
</form>

<table>
  <thead>
	  <tr>
		<th>Complete?</th>
		<th>Priority</th>
		<th>Content</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
  </thead>
  <tbody data-bind="template: {name: 'todo-row', foreach: todos}">
	<% @todo_items.each do |todo_item| %>
	  <tr class="todo-item">
		<td><input type="checkbox" <% if todo_item.complete %> checked="checked"<% end %> /></td>
		<td><%= todo_item.priority %></td>
		<td><span class="<%= 'finished' if todo_item.complete %>"><%= todo_item.content %></span></td>
		<td><%= link_to 'Show', todo_item %></td>
		<td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
		<td><%= link_to 'Destroy', todo_item, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Todo item', new_todo_item_path, :id => 'new-todo-link' %>

<script type="text/javascript">
	var TODO = {
		todos: <%= raw @todo_items.to_json %>
	};
</script>

<script id="todo-row" type="text/x-jquery-tmpl">
  <tr class="todo-item" id="{{= _id}}">
	<td><input data-bind="checked: complete" type="checkbox" /></td>
	<td>{{= priority }}</td>
	<td><span data-bind="css: { finished: complete, updating: updating }" class="todo-item">{{= content }}</span></td>
	<td></td>
	<td></td>
	<td><a href="/todo_items/{{= _id }}.json" class="delete-todo">Delete</a></td>
  </tr>
</script>
