<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "overrides" %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'Todo', todo_items_path, :class => 'brand' %>
          <p class="pull-right">
            Logged in as <%= link_to current_user.email, '#' %> | <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <p class="alert-message block-message success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert-message block-message warning"><%= alert %></p>
      <% end %>
    </div>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
